[Desktop Entry]
Encoding=UTF-8
Name=Mun
Comment=Mun P2P Cryptocurrency
Comment[fr]=Mun, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Mun, eşten eşe kriptografik sanal para birimi
Exec=mun-qt %u
Terminal=false
Type=Application
Icon=mun128
MimeType=x-scheme-handler/mun;
Categories=Office;Finance;
